body{
    background-image: url(../Images/Fondo_Fritos.jpeg);
    align-content: center;
}



#restaurante3
{
    display: inline-block;
    width: 100%;   
    padding-top: 50px;
}

#restaurante3 a
{
    display: inline-block;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    box-shadow: 1px 1px 1px black;
    border-radius: 5px;
}