body{
    background-image: url(../Images/Fondo_PacificoMar.webp);
}


#restaurante1
{
    display: inline-block;
    width: 315px;
    padding-top: 50px;
    
}

#restaurante1 a
{
   
    display:inline-block;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    box-shadow: 1px 1px 1px black;
    border-radius: 5px;
    
    
}   